/****   Config   ****/
/*

    --img-bg: url("../img/cyber_back.jpeg");
    --img-bg-rotated: url("../img/cyber_back_rotated.jpeg");
    
    --color-bg:rgb(35, 40, 46);
    --color-logo: rgb(21, 72, 135);
    
    --color-1:  rgb(2, 6, 41);
    
    --color-2:  rgb(68, 87, 252);
    
    --color-3: black;

*/
:root {
    --img-banner: url("../img/banner.jpeg");
    --img-2: url("../img/cyber_back_2.jpeg");
    
    --color-bg:rgb(35, 40, 46);
    --color-logo: rgb(21, 72, 135);
    
    --color-font: white;
    --font-shadow: 1px 1px 1px black;

    --color-ok: green;
    --color-fail: red;

    --color-1:  rgb(2, 6, 41);
    --color-2:  rgb(68, 87, 252);
    --color-3: black;
    --color-3-0: rgb(0, 0, 0, 0.9);

    --color-transp-1: rgb(255, 255, 255, 0.1);
    --color-transp-2: rgba(0, 0, 0, 0.4); 


}