@media (max-width:721px){
    /****   Header   ****/
    #header{
        flex-direction: column;

        padding-top: 30px;
    }
    #menu{
        flex-grow: 1;
        margin: 0px;
        margin-top: 40px;

        width: 80%;
    }
    #menu ul{
        justify-content: center;
    }
    

}