
/*    Banner    */
#banner{
    
    position: relative;

    height: 100px;
    width: 100%;
    
    background-image: var(--img-banner) ;
    background-repeat: no-repeat;
    
    border: 5px solid var(--color-1);
    
    box-shadow: 0px 1px 0px var(--color-1), 1px 2px 0px var(--color-1), 2px 3px 0px var(--color-1), 3px 4px 0px var(--color-1);

    z-index: 1;
}

#banner *{
    font-family: "1";
}

/*   title and sub    */
#banner h1,
#banner h2{
    
    text-align: center;
    
    margin-top: 10px;
    
}

/*    my-profile    */
#my-profile{

    height: 610px;
    width: 95%;
    
    margin: 4px auto;

    overflow: hidden;
}

#my-profile #resume_and_pic{
    display: flex;
    gap: 20px;
}

/* mi foto */
#my-pick{
    
    margin: 50px 0px 0px 8%;
    
    height: 150px;
    width: 150px;

    border: 5px solid black;
    border-radius: 100px;

    overflow: hidden;
}
#my-pick img{
    height: 200px;
}

/*    Profile resume    */
#profile-resume{

    background-color: rgba(0, 0, 0, 0.2);
    
    width: 65%;
    height: 200px;

    display: block;
    float: right;

    margin: 30px 5% 0px 0px;

    overflow-y: scroll;
}
#profile-resume p{
    font-size: 17px;
    text-align: center;
    margin: 20px auto;
}

/*    list box    */
.list-box{
    height: 110px;
    width: 90%;

    margin: 50px auto 50px auto;
    
    display: flex;

    flex-direction: column;
    
}

/*    list title    */
.list-title{
    height: 35px;
    width: 100%;

    text-align: left;

    line-height: 35px;

    font-size: 20px;
    
}

/*    list box    */
.list{

    width: 95%;

    margin: 0px auto;
    
    
    background-color: rgba(0, 0, 0, 0.2);

    overflow-x: scroll;

    display: flex;
    


}
.list div{

    margin: 2% 0px 0px 9%;

    text-align: center;

}

.list div img{
    height: 60px;
}

/*    button    */
/* boton para ampliar la extencion del banner*/
