{% extends 'core/base.html' %}
    {% load static %}



    {% block title %}Home{% endblock title %}


    {% block css %}

    <!--    home    -->
    <link rel="stylesheet" type="text/css" href="{% static 'my_web_app/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'my_web_app/css/home_responsive.css' %}">
    
    {% endblock css %}


    {% block content %}
    
    <!--    banner    -->
    <div id="banner">

        <!--
        <img class="cyber-back" src="{% static 'my_web_app/img/cyber_back.jpeg' %}"/>
        <img id="my_pick" src="{% static 'my_web_app/img/my_pick.jpeg' %}" />
        -->

        <h1>Guido do Rego</h1>
        
        <h2>Programador Full-Stack</h2>
        
        
        
    </div>
    
    
    <div class="box-2" id="my-profile">
        
        <section id="resume_and_pic">

            <div id="my-pick">
                <img src="{% static 'my_web_app/img/my_pic.png' %}" alt="Guido do Rego"/>
            </div>

            <article id="profile-resume" class="scrollbar-1-y">
                <p>
                    Inicie con Python en 2019. Desde entonces he creado herramientas, aplicaciones de escritorio, páginas y aplicaciones web, entre otras cosas.

                </p>

                <h5>Redes:</h5>

                <ul>
                    <li><a href="https://www.linkedin.com/in/guido-do-rego/" target="_blank" rel="noopener noreferrer">Linkeding</a></li>
                    <li><a href="https://github.com/GuidoGdR" target="_blank" rel="noopener noreferrer">Github</a></li>
                </ul>
            </article>

        </section>

        <!--    tools list    -->
        <section class="list-box">

            <div class="list-title box-2">
                <h4>Herramientas:</h4>
            </div>

            {% if my_tools %}
            

            <div class="list scrollbar-1-x">
                {% for tool in my_tools %}
                <div class="item">
                    <img src="{{tool.logo.url}}" alt="logo {{tool.name}}"/>
                    <p>
                        {{tool.name}}
                    </p>
                </div>
                
                {% endfor %}

            </div>
            {% else %}
            <div class="list" >
                <div>
                    <p>
                        Error al cargar listado de lenguajes
                    </p>
                </div>

            </div>
            {% endif %}
        </section>

        <!--    Enterprices list    -->
        <section class="list-box">

            <div class="list-title box-2">
                <h4>Experiencia laboral:</h4>
            </div>

            {% if woroked_for %}

            <div class="list scrollbar-1-x">
                {% for enterprice in woroked_for %}
                
                <div class="item">
                    <img src="{{enterprice.logo.url}}" alt="logo {{enterprice.name}}"/>
                    <p>{{enterprice.name}}</p>
                </div>
                {% endfor %}
            </div>
            
            {% else %}
            <div class="list" >
                <div>
                    <p>
                        Error al cargar listado de empresas en las que e trabajado
                    </p>
                </div>

            </div>
            {% endif %}
        </section>
    </div>
    {% endblock content %}