
/*    Banner    */
#banner{
    
    height: 100px;
    width: 99%;
    
    background-image: var(--img-banner) ;
    background-repeat: no-repeat;
    
    border: 5px solid var(--color-1);
    
    box-shadow: 0px 1px 0px var(--color-1), 1px 2px 0px var(--color-1), 2px 3px 0px var(--color-1), 3px 4px 0px var(--color-1);
}


/*   banner title    */
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner h1{
    letter-spacing: 4px;
    font-size: 40px;
    font-family: "1";
    
}

#wraper{
    display: flex;
    align-items: center;
    margin-top: 40px;
}


/*---------------------*/
/*    Browser/aside    */

#blog_browser{
    margin-left: 2%;
    padding: 10px;

    flex-grow: 1;
    flex-basis: 70%;
    order: 2;

}

#browser_title{
    text-align: center;
    margin: 5px;

    font-size: 20px;
    font-weight: bold;
}

#id_title,
#id_topics,
#id_topics option{
    color: var(--color-font);

    margin: 5px;
    
    width: 90%;

}

#blog_browser button{
    background-color: var(--color-1);
    display: block;
    margin: 10px auto;
    
    padding: 10px;
    
}


/*-----------------*/
/*    blog box    */
#blog{
    order: 1;
    flex-grow: 1;
    
    background-color: var(--bg-blog);
    
    border: 1px solid var(--color-1);
    box-shadow: 0px 1px 0px var(--color-1), 1px 2px 0px var(--color-1), 2px 3px 0px var(--color-1), 3px 4px 0px var(--color-1),
    0px -1px 0px var(--color-1), -1px -2px 0px var(--color-1), -2px -3px 0px var(--color-1), -3px -4px 0px var(--color-1);
    
}

/*    posts of blog    */

.post{
    width: 90%;
    margin: 30px auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

/*    title    */
.post h3{
    text-align: left;
    margin-top: 25px;
    
    letter-spacing: 1px;
}

/*    date and category    */
.post .date_and_category{
    
    margin-left: auto;

    padding: 10px;
    border: 1px solid var(--color-2);
    border-top: none;
    border-right: none;


    font-size: small;
}

/*    content of fost    */
.post_content{
    margin: 20px 10px 15px 10px;
}

/*---------------*/
/*    next and previous page    */
#blog_nav{
    margin-bottom: 20px;

    height: 50px;
    width: 100%;

    display: flex;

}

#blog_nav a{
    font-size: 25px;
}

/*    pag we be    */
#page_now{
    color: rgb(79, 195, 247);
}
/*    prev pag    */
#prev_pag{
    flex-grow: 1;
    margin-left: 20px;
}
/*    next pag    */
#next_pag{
    flex-grow: 1;
    text-align: end;
    margin-right: 20px;
}

/*    all pages    */
#all_pages{
    flex-grow: 1;

    display: flex;

    align-items: center;
    justify-content: center;

    max-width: 80%;

    margin: 0px auto ;

    text-align: center;
}
.page_id{

    float: left;
    text-decoration: none;
    margin: 5px;
}
