
/*    Banner    */
#banner{
    
    height: 100px;
    width: 99%;
    
    background-image: var(--img-banner) ;
    background-repeat: no-repeat;
    
    border: 5px solid var(--color-3);
    
    box-shadow: 0px 1px 0px var(--color-3), 1px 2px 0px var(--color-3), 2px 3px 0px var(--color-3), 3px 4px 0px var(--color-3);
    
}

#banner *{
    font-family: "1";
}

/*   banner title    */
#banner h1{
    
    text-align: center;
    
    margin-top: 25px;
    
    letter-spacing: 4px;

    font-size: 40px;
    
}


/*-----------------*/
/*    blog box    */
#blog{
    
    background-color: var(--color-1);
    
    margin: 40px 0px;

    width: 70%;
    
    float: left;
    
    border: 1px solid var(--color-3);
    box-shadow: 0px 1px 0px var(--color-3), 1px 2px 0px var(--color-3), 2px 3px 0px var(--color-3), 3px 4px 0px var(--color-3),
    0px -1px 0px var(--color-3), -1px -2px 0px var(--color-3), -2px -3px 0px var(--color-3), -3px -4px 0px var(--color-3);
    
}

/*    posts of blog    
#020629
*/

.post{
    width: 90%;
    margin: 30px auto;
}


/*    title    */
.post h3{
    text-align: center;
    margin-top: 25px;
    
    letter-spacing: 1px;
}

/*    date and category    */
.post div{
    float: right;
    font-size: 15px;
    
    border: 1px solid var(--color-2);
    border-top: none;
    border-right: none;
    
}
.post span{
    margin: 10px 5px 0px 0px;
    padding: 0px 0px 5px 5px;
    
    font-size: small;
    
}

/*    content of fost    */
.post_content{

    margin: 10px 10px 15px 10px;
}
.post_content *{
    display: inline;
}
/*---------------*/
/*    next and previous page    */
#blog_nav{
    margin-bottom: 20px;

    height: 50px;
    width: 100%;
}

#blog_nav a{
    font-size: 25px;
}

/*    pag we be    */
#page_now{
    color: rgb(79, 195, 247);
}
/*    prev pag    */
#prev_pag{
    display: block;
    float: left;
}
/*    next pag    */
#next_pag{
    float: right;
}

/*    all pages    */
#all_pages{

    float: left;

    max-width: 80%;

    margin: 0px 0px 0px 7%;

    text-align: center;
}
.page_id{

    float: left;
    text-decoration: none;
    margin: 5px;
}

/*---------------*/
/*    Browser    */

#blog_browser{
    width: 25%;

    margin: 300px 2%;
    float: right;
    
}
#browser_title{
    text-align: center;
    margin: 5px;

    font-size: 20px;
    font-weight: bold;
}
#blog_browser p{
    margin-top: 10px;
    margin-left: 15px;
}
#id_title,
#id_topics,
#id_topics option{
    color: var(--color-font);

    margin: 2px;

}

#blog_browser button{
    background-color: black;
    display: block;
    margin: 10px auto;
    
    border: 10px solid black;

    box-shadow: 1px -1px 2px var(--color-2), -1px -1px 2px var(--color-2);
}

