/****   Config   ****/
/*

    --img-bg: url("../img/cyber_back.jpeg");
    --img-bg-rotated: url("../img/cyber_back_rotated.jpeg");
    
    --color-bg:rgb(35, 40, 46);
    --color-logo: rgb(21, 72, 135);
    
    --color-1:  rgb(2, 6, 41);
    
    --color-2:  rgb(68, 87, 252);
    
    --color-3: black;

*/
:root {
    --img-banner: url("../img/banner.jpeg");
    --img-2: url("../img/cyber_back_2.jpeg");/* desuso? */ 
    
    --color-bg:rgba(20, 65, 121, 0.295);
    --color-logo: rgb(21, 72, 135);
    
    --color-font: white;
    --font-shadow: 1px 1px 1px black;

    --color-ok: green;
    --color-fail: red;

    --bg-blog:  rgb(2, 6, 41);/* bg-blog */
    
    --hoover-forms-color: rgb(0, 96, 126);/* shadow hoover-forms */
    --border-forms-color: rgba(0, 0, 0, 0.5);/* border forms */

    --color-1: rgb(0, 0, 0);/* header/footer/border-solid */
    --color-1-0: rgb(0, 0, 0, 0.9);/* footer-shadow */

    --color-2:  rgb(68, 87, 252);/* shadow-color */
    --shadow-color-2:  rgb(255, 255, 255);/* return-blog-color */

    --color-transp-1: rgb(255, 255, 255, 0.1);/* bg-transp-1 */ 
    --color-transp-2: rgba(0, 0, 0, 0.4); /* bg-transp-2 */ 

    --center-content: 5%;

}