    <!--    Header    -->
    
    <header id="header">

        <a href="{% url 'apps.my_web_app:home' %}">
            <div id="logo_container">
                <span id="logo_icon" class="symbol" >S</span>
                <h3 id="logo_text">GdR</h3>
            </div>
        </a>
        
        <nav id="menu">
            <ul>
                <li><a href="{% url 'apps.my_web_app:home' %}">Inicio</a></li>
            </ul>
            
            <ul>
                <li><a href="{% url 'apps.blog:blog' %}">Blog</a></li>
            </ul>

            <ul>
                <li><a href="{% url 'apps.contact:contact' %}">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <div class="clear_float"></div>
